.Rproj.user
.Rhistory
.RData
.Ruserdata

_publish.R
_bookdown_files
rsconnect
render*.rds
*.aux
*.fls
*.log
*.out
*.toc
*.lot
*.lof
*.idx
*.rds
*.ilg
*.ind
*.fdb_latexmk
*.utf8.md
index_cache/


.sync/*

.me_configs.data

.z_sync_configs.data

sync_changes.log

sync_hook.script

**/.Archive
